@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@layer base {
  @font-face {
    font-family: 'Y_Spotlight';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap") format('woff');
    font-weight: normal;
    font-style: normal;
  }
}
.body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.custom-half-circle::before,
.custom-half-circle::after {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: white;
  border: 1px solid #d1d5db; /* gray-300 */
  border-radius: 50%;
  bottom: -4px;
}

.custom-half-circle::before {
  left: -4px;
}

.custom-half-circle::after {
  right: -4px;
}